body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fbe8e9; /* Màu nền hồng nhạt */
}

.header {
    text-align: center;
    background-color: #fff;
    padding: 20px 10px;
    border-bottom: 2px solid #ddd;
}

.header h1 {
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.profile-details h1 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

.profile-details h3 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

.profile-details p {
    text-align: center;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.social-links .social-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.social-link img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.social-link span {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    flex-grow: 1;
    text-align: center;
}

.social-links .container a {
    text-decoration: none; /* Bỏ gạch chân */
} 

/* .about-section {
    margin-top: 30px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
    color: #333;
    margin-bottom: 10px;
}

.about-section p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
} */

.about-section {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom, #e0f7fa, #ffffff);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
    font-size: 28px;
    font-weight: bold;
    color: #2e7d32;
    margin-bottom: 10px;
}

.about-section p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.gallery-item img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

